/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-text-color: #f1b2ce;
  --h1-text-color: #db00ff;
  --h2-text-color: #ff0070;
  --h3-text-color: #000028;
  --accent-color: #ff0070;
  --bg-color: #000028;
}

.theme-dark .page {
  background-image: url("../images/cover-image-dark.png");
}
