/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color: #353430;
  --h1-text-color: #ffc2e6;
  --h2-text-color: #353430;
  --h3-text-color: #353430;
  --accent-color: #ff8dc8;
  --bg-color: #fff1f7;
}

.theme-light .page {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .light-bulb {
  display: none;
}
